{% extends 'base.html' %}
{% load static %}

{% block title %}
  Cinemania - Онлайн кинотеатр
{% endblock %}

{% block content %}
  <section class="movies-section" aria-labelledby="trending-title">
    <h2 id="trending-title" class="section-title">Сейчас в тренде</h2>
    <div class="slider" aria-label="Слайдер популярных фильмов">
      <div class="list">
        {% for film in films %}
          <a href="{% url 'movie-detail' pk=film.pk %}" class="movie-link" aria-label="Перейти к просмотру {{ film.name }}">
            <div class="movie-card">
              <img src="{{ film.image_url }}" alt="{{ film.name }}" class="movie-poster" loading="lazy" />
              <div class="movie-info">
                <h3 class="movie-title">{{ film.name }}</h3>
                <span class="movie-year">
                  {{ film.year }} •{% for genre in film.genres.all %}
                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                  {% empty %}
                    Нет жанров
                  {% endfor %}
                </span>
                <div class="rating" aria-label="Рейтинг фильма">★ {{ film.rating }}/10</div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="hero-section">
    <h1 class="New-premier">Новая Премьера</h1>
    <div class="hero-banner">
      <video autoplay loop muted playsinline class="hero-image">
        <source src="{% static 'videos/fan-four.mp4' %}" type="video/mp4" />Ваш браузер не поддерживает видео.
      </video>
      <div class="hero-content">
        <div class="banner-movie-title">
          <h1 class="hero-title">Фантастическая четвёрка</h1>
        </div>
        <div class="banner-movie-desc">
          <p class="hero-description">
            Четыре учёных, получивших суперспособности в результате космической аномалии, 
            объединяются, чтобы спасти мир от разрушения.
          </p>
        </div>
        <a href="#" class="hero-button">Смотреть сейчас</a>
      </div>
    </div>
  </section>
  <h2 class="section-title-news">Новости кино</h2>
  <section class="news-section">
    <div class="news-container">
      {% for item in news_list %}
        <a href="{% url 'news_detail' pk=item.pk %}">
          <article class="news-item">
            <img src="{{ item.image_url }}" alt="{{ item.title }}" class="news-image" />
            <div class="news-content">
              <h3 class="news-title"><a href="{% url 'news_detail' pk=item.pk %}">{{ item.title }}</a></h3>
              <p class="news-date">{{ item.published_date|date:'d M Y' }}</p>
              <p class="news-excerpt">{{ item.content|truncatewords:20 }}</p>
            </div>
          </article>
        </a>
      {% empty %}
        <p>Новостей пока нет.</p>
      {% endfor %}
    </div>
    <a href="{% url 'news-list' %}" class="news-more">Все новости</a>
  </section>
{% endblock %}
