{% extends 'base.html' %}
{% block title %}
  Cinemania - {{ film.name }}
{% endblock %}
{% block content %}
  <section class="movie-detail">
    <div class="movie-detail-card">
      <img src="{{ film.image_url }}" alt="{{ film.name }}" class="movie-detail-poster" loading="lazy" />
      <div class="movie-detail-info">
        <h1 class="movie-detail-title">{{ film.name }}</h1>
        <span class="movie-detail-year">
          {{ film.year }} •{% for genre in film.genres.all %}
            {{ genre.name }}{% if not forloop.last %}, {% endif %}
          {% empty %}
            Нет жанров
          {% endfor %}
        </span>
        <div class="rating" aria-label="Рейтинг фильма">★ {{ film.rating }}/10</div>
        <p class="movie-description">{{ film.description }}</p>
        {% if user.is_authenticated %}
          <button class="watch-button" aria-label="Смотреть {{ film.name }}">Смотреть</button>
        {% endif %}

        {% if film.trailer_url %}
          <div class="trailer">
            <iframe width="560" height="315" src="{{ film.trailer_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
