{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="movies-section" aria-label="Список фильмов">
  <h2 id="trending-title" class="section-title">Твой Вотчлист</h2>
  <div class="slidere">
    <div class="liste">
      {% for film in films %}
        <a href="{% url 'movie-detail' pk=film.pk %}" class="movie-link" aria-label="Подробнее о фильме {{ film.name }}">
          <div class="movie-card">
            <img src="{{ film.image_url }}" alt="{{ film.name }}" class="movie-poster" loading="lazy" />
            <div class="movie-info">
              <h3 class="movie-title">{{ film.name }}</h3>
              <span class="movie-year">
                {{ film.year }} •
                {% for genre in film.genres.all %}
                  {{ genre.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </span>
              <div class="rating" aria-label="Рейтинг фильма">★ {{ film.rating }}/10</div>
            </div>
          </div>
        </a>
      {% empty %}
        <p>Фильмы по заданным фильтрам не найдены.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
